<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="WapplerSystems_FeaturedSlider::root"
             title="Featured Slider"
             module="WapplerSystems_FeaturedSlider"
             sortOrder="50"
             parent="Magento_Backend::content"
             resource="WapplerSystems_FeaturedSlider::manage"/>
        <add id="WapplerSystems_FeaturedSlider::slider_list"
             title="Sliders"
             module="WapplerSystems_FeaturedSlider"
             sortOrder="10"
             parent="WapplerSystems_FeaturedSlider::root"
             action="featuredslider/slider/index"
             resource="WapplerSystems_FeaturedSlider::slider"/>
        <add id="WapplerSystems_FeaturedSlider::slide_list"
             title="Slides"
             module="WapplerSystems_FeaturedSlider"
             sortOrder="20"
             parent="WapplerSystems_FeaturedSlider::root"
             action="featuredslider/slide/index"
             resource="WapplerSystems_FeaturedSlider::slide"/>
    </menu>
</config>
